input[type="checkbox"].toggle_switch {
  font-size: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2em;
  height: 1em;
  background: #ef6911;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}

input[type="checkbox"].toggle_switch:checked {
  background: #ddd;
}

input[type="checkbox"].toggle_switch:after {
  position: absolute;
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"].toggle_switch:checked:after {
  left: calc(100% - 1em);
}

.toggle_description {
  float: right;
  margin: 20px 20px 0 0;
}
